.formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin:200px;
   
    
}
p{
    float: left;
    display: flex;
    gap: 10px;

}
form h1{
    color:black;
    font-weight: bold;
}
.formulaire form{
    border: 1px solid #ccc;
    padding: 30px;
    width: 55%;
    text-align: center;
    border-radius:10px;
    box-shadow:0 2px 4px rgb(0, 0,0, 0.1);
}
.formulaire button{
    width: 100%;
}
.formulaire form label{
    font-weight: bold;
    float: left;
}
